<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newwbbie.demo.basic.dao.MainDao">

    <select id="getInfo" resultType="String">
        select staff_name from yw_staff where staff_id = 1
    </select>
</mapper>